<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="offline-eval-feed" value=".nuget-feed" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="offline-eval-feed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="globalPackagesFolder" value=".nuget-packages" />
  </config>
</configuration>
